
</main>
<!-- Website Main Wrapper End -->

<!-- Website Footer Section Start -->
<footer class="text-center">
    &copy; 2018 | COMP2106 - Buzz Ads Designed & Developed By Amandeep Saggu
</footer>
<!-- Website Footer Section End -->

<!-- Jquery CDN Inclusion -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap CDN Inclusion -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>