<% include ../shared/header.ejs %>

<h1>Add New Product</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2">Enter Product Name: *</label>
        <input name="ProductName" id="ProductName" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Enter Product Price: *</label>
        <input name="Price" id="Price" required type="number" min="1" />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Enter Product Description: *</label>
        <textarea name="Description" id="Description" required cols="20" rows="5" ></textarea>
    </fieldset>
    <button class="offset-2 btn btn-primary">Add Product</button>
</form>

<% include ../shared/footer.ejs %>
